# Виртуальное окружение
venv/
ENV/

# IDE
.vscode/
.idea/

# Логи и временные файлы
__pycache__/
*.pyc

# Переменные окружения
.env
.env.local

# Пакеты
dist/
build/
*.egg-info/
db.sqlite3
migrations/